.card-wrapper{
    
    display:flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flashcard{
    position: relative;

    width: 50%;
    height: 300px;

    cursor: pointer;
    transition: 0.5s ease;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: white;
    border-radius: 25px;
    font-size: 40px;
}

.card-back{
    transform: rotateY(180deg);
}

.card-back-text, .card-front-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
    padding: 20px;
}

.next-btn{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: left 0.5s ease-out;
}

.menu-btn{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: left 0.5s ease-out;
}

.setsAndPairs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}

.sets , .pairs{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pairs-menu , .sets-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.pairs-menu-textbox{
    height: 30px;
    width: 38%;
}

.sets-menu-textbox{
    height: 30px;
    width: 76%;
}